In [71]:
import pandas as pd
import numpy as np

In [7]:
Grocery = pd.read_excel("Grocery.xlsx", sheet_name="Ingredients")
Grocery

         Meal Name                           Ingredients
0            Pizza                Crust\nSauce\nToppings
1      Korean Beef              Rice\nBeef\nGreen Onions
2  Cheddar Chicken          Chicken\nCheddar\nRitz\nMilk
3    Cheeseburgers  Beef\nColby Jack Cheese\nFries\nBuns
4             Soup            Chicken\nStock\nVegetables

In [6]:
Grocery2 = pd.read_excel("Grocery.xlsx", sheet_name="Ingredients2")
Grocery2

         Meal Name Ingredient 1       Ingredient 2  Ingredient 3 Ingredient 4
0            Pizza        Crust              Sauce      Toppings          NaN
1      Korean Beef         Rice               Beef  Green Onions          NaN
2  Cheddar Chicken      Chicken            Cheddar          Ritz         Milk
3    Cheeseburgers         Beef  Colby Jack Cheese         Fries         Buns
4             Soup      Chicken      Chicken Stock    Vegetables          NaN

In [34]:
# Select 5 Meals. 1 dinner out to eat, 1 dinner is frozen pizza
Meals = []
MealNums = int(input("How many meals are you planning? "))
while len(Meals) < MealNums:
    Selection = input("Pick a Meal to add to the Weekly Menu:")
    if Selection not in Grocery['Meal Name'].values:
        print("Select an existing Meal.")
    else:
        Meals.append(Selection)
print(Meals)

How many meals are you planning? 5
Pick a Meal to add to the Weekly Menu:Pizza
Pick a Meal to add to the Weekly Menu:Soup
Pick a Meal to add to the Weekly Menu:Cheeseburgers
Pick a Meal to add to the Weekly Menu:Cheddar Chicken
Pick a Meal to add to the Weekly Menu:Korean Beef
['Pizza', 'Soup', 'Cheeseburgers', 'Cheddar Chicken', 'Korean Beef']

In [79]:
List = []
for meal in Meals:
    for column in Grocery2.columns:
        ingredient = Grocery2[Grocery2["Meal Name"] == meal][column].values[0]
        if "Ingredient" not in column or pd.isna(ingredient):
            next
        else:
            List.append(Grocery2[Grocery2["Meal Name"] == meal][column].values[0])
List.sort()
List

['Beef',
 'Beef',
 'Buns',
 'Cheddar',
 'Chicken',
 'Chicken',
 'Chicken Stock',
 'Colby Jack Cheese',
 'Crust',
 'Fries',
 'Green Onions',
 'Milk',
 'Rice',
 'Ritz',
 'Sauce',
 'Toppings',
 'Vegetables']

In [ ]:
# Next steps:
# Navigate Dillons website to automatically generate a shopping cart
# Assign
# Aggregate list to remove duplicates